/* style.css */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBE9E1;
}

.score-board{ 
    margin: 2em 0;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.btn-container {
    display: flex;
    gap: 2em;
    margin-bottom: 1em;
}

.btn {
    background-color: #EFB11D;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 38px;
    padding: 1em 2em;
    border-radius: 14px;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-10px);
    background-color: #D6536D;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.44);
}

#choices {
    display: flex;
    gap: 2em;
    margin: 2em 0;
}

.choice {
    font-size: 5rem;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    background-color: #fff;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
}

.choice.show {
    opacity: 1;
    transform: scale(1.2);
}
